@font-face {
	font-family: New York;
	font-weight: normal;
	src: url("/fonts/NewYorkSmall-Regular.otf") format("opentype");
}

@font-face {
	font-family: New York Medium;
	font-weight: normal;
	src: url("/fonts/NewYorkSmall-Medium.otf") format("opentype");
}

@font-face {
	font-family: New York Medium;
	font-weight: bold;
	src: url("/fonts/NewYorkSmall-Semibold.otf") format("opentype");
}

@font-face {
	font-family: New York Heavy;
	font-weight: bold;
	src: url("/fonts/NewYorkSmall-Heavy.otf") format("opentype");
}

@font-face {
	font-family: New York Black;
	font-weight: bolder;
	src: url("/fonts/NewYorkSmall-Black.otf") format("opentype");
}