/* on update delete italic params in _fonts.scss in book theme */

/* You can add custom styles here. */
/*font fallback*/

.markdown {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.navbar a.brand {
  margin-right: 3rem;
  border: none;
  background: 0 0!important;
  color: var(--dark-font-color);
  font-size: 34px;
  font-weight: 800;
  }
  
.article-header h1 {
  font-weight: 800;
  font-size: 34px;
  }
  
.post-meta {
  margin-top: 0rem;
  padding: 1rem 0;
}