h1 {
	font-family: 'New York Black', serif, -apple-system-ui-serif, ui-serif; !important
}
h2 {
	font-family: 'New York Heavy', serif, -apple-system-ui-serif, ui-serif; !important
}
h3, h4, h5, h6 {
	font-family: 'New York Medium', serif, -apple-system-ui-serif, ui-serif; !important
}
.font-sans {
	font-family: 'New York', serif, -apple-system-ui-serif, ui-serif; !important
}
.font-serif {
	font-family: 'New York', serif, -apple-system-ui-serif, ui-serif; !important
}
.font-cursive {
	font-family: 'New York Black', serif, -apple-system-ui-serif, ui-serif; !important
}
a:not(.icon), .c-rich-text {
	font-family: 'New York', serif, -apple-system-ui-serif, ui-serif; !important
}

// body //
body {
	max-height: 100vh;
	max-width: 100vw;
}

img {
	border-radius: 5px;
}

@media (min-width: 768px) {
    .md\:p-16 {
        padding: 0;
				margin: 4rem;
    }
}
